body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(300deg, #ff4c68, #ef8172);
  background-size: 180% 180%;
    
}

.calculator{
    flex-direction: column;
    max-width: 500px;
    overflow: hidden; 
    font-family: Arial, sans-serif;
    border-radius: 15px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.467);
}
#display{
    width: 282px; 
    padding-bottom: 0px; 
    padding-left: 10px;
    padding-top: 20px !important;   
    font-size: 65px;
    text-align: left;
    border: none;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background: rgba(159, 151, 151, 0.74);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(20px);
        
}
.btn{
    display: grid;
    gap: 11px;
    grid-template: repeat(5,60px) / repeat(4, 60px);
    width: 294px;
    height:364px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(66, 62, 62) !important;
}


button{
    height: 60px;
    width: 61px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 27px;
    cursor: pointer;
    background-color: whitesmoke;
    transition: transform 0.1s ease;
}

button:hover{
    background-color: rgb(210, 207, 207);
}
button:active{
    transform: scale(0.90);

}

.operator{
    background-color: rgb(255, 166, 0);
}

.operator:hover{
    background-color: rgb(230, 150, 2);
}

.clearr{
    grid-column: span 3;
    width: 204px;
    
}

.zeroo{
    grid-column: span 2;
    width: 132px;
}

@media (max-width: 460px){
    .operator:hover{
        background-color: rgb(255, 166, 0);
    }
        
    button:hover{
        background-color: whitesmoke;
    }
}
